html, body { 
	font: 14px Verdana;
}

li {
	list-style-type: none;
	padding-left: 0;
}

a, a:active, a:link{
	color: #333333;
	font-weight: bold;
}

/*
 * only used in the menu (o:
 */
#menu-left li li{

	width: 98%;
	background: #DDDDDD;
	
	/* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg,  #CFCFCF, #DDDDDD);
    /* Safari 4+, Chrome 1+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#CFCFCF));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#DDDDDD, #CFCFCF); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #DDDDDD, #CFCFCF);
	
	
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	margin-bottom: 1%;
	padding: 1%;
	
	cursor: pointer;
	
	font-size: 0.9em;
}

li li.selected{
	background: #CFCFCF;
}

ul > li > ul{
	list-style-position: inside;
	margin-left: -4%;
}

h1{
	
}

h2{
	font-size: 1.1em;
	font-weight: bold;
}

hr{
	border: 1px solid #9A9A9A;
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

#menu fieldset{
	border: 0;
}

/* #dizzy */

#dizzy{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden !important; /* FF Scroll-leiste */ 
	width: 100%;
	height: 100%;
	
	z-index: -1;
}

#dizzy .editing.textmode{
	cursor: text;
}
/* linuslabo
#dizzy .editing g.group.selected{
	opacity: 0.5;
}*/

#dizzy .editing .invisibleRect, #dizzy .path .invisibleRect{
	opacity: 1;
	fill-opacity: 0.2;
	stroke-opacity: 0.8;
	fill: #C9E0E2;
	stroke-width: 5;
	stroke-miterlimit:4;
	stroke-dasharray:9.9,29.7;
	stroke-dashoffset:0;
}

#dizzy .editing.default .group:hover{
	cursor: pointer;
	opacity: 0.75;
}

#dizzy svg.drawing{
	cursor: url(../img/cursor_draw.png), crosshair;
}

#dizzy svg.editor{
	cursor: auto;
}

#dizzy svg.path g.group:hover{
	cursor: url(../img/cursor_path.png), pointer;
}

/* TOOLBAR */

#tools-main{
	position: absolute;
	top: 5%;
	left: 1%;

	box-sizing: border-box;
		
	overflow: visible;
}

#tools-main.expanded{
	width: 98%;
}

.inactive{
	opacity: 0.5;
}

#toolbar > .toolbutton.inactive:hover{
	background: #AAAAAA;
	/*border: 0px solid #0a82ad;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#toolbar{
	float: left;
	overflow: visible;
	
	-ms-transition: 0.8s opacity ease-in-out;
	-o-transition: 0.8s opacity ease-in-out;
	-webkit-transition: 0.8s opacity ease-in-out;
	-moz-transition: 0.8s opacity ease-in-out;
	transition: 0.8s opacity ease-in-out;
	
	opacity: 1;
	
	z-index: 12;
	border: 2px solid #0a82ad;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFFFFF;
}

#toolbar.invisible{
	opacity: 0;
}

#tracker.invisible{
	opacity: 0;
}
/*
.toolbutton, #toolbar, #zebra-toolbar  {
}*/

.toolbutton{
	float: left;

	font-weight: bold;
	text-align:center;
	
	background: white;
	background: transparent;
}

#toolbar > .toolbutton {
	width: 35px;
	height: 35px;
	
	line-height: 35px;
	
	font-size: 13px;
}

#toolbar > .toolbutton.pressed, #toolbar > .toolbutton.pressed:hover{
	background: rgba(109, 181, 207, 0.3);
	width: 31px;
	height: 31px;
	border: 2px solid #0a82ad;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.toolbutton:hover, #toolbar > .toolbutton.present:hover {
	background: rgba(109, 181, 207, 0.3);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	cursor: pointer;
}

.toolbutton img{
	vertical-align: middle;
}

input[class="color"]{
	width: 28px;
	height: 20px;
	cursor: pointer;
	border: 1px solid black;
}

.textHidden{
	color: rgba(255,255,255,0.0);
}

/*
 * Two buttons per line
 */
#toolbar > .toolbutton:nth-child(2n), .toolbutton.fullwidth{
	clear: left;
}
/*
 * Remove double borders from two elements that are next to each other (horizontal or vertical)
 */
#toolbar > .toolbutton:nth-child(n+2){
	margin-left: 1px;
	margin-top: 1px;
}
#toolbar > .toolbutton:nth-child(2n+3){
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
}
/*
#toolbar > .toolbutton:last-child{
	border-left: 1px solid black;
}*/

/*
 * Round first and last borders to make it a little nicer to look at (:
 */
 #toolbar > .toolbutton:first-child{
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
#toolbar > .toolbutton:last-child{
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px
}

/*
 * Two buttons that are twice as wide as normal buttons.
 */
#toolbar > .toolbutton.fullwidth {
	width: 73px;
	
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	
	margin-right: 0;
	margin-left: 0;
}
/*
 * Top toolmenu button
 */
#toolbar > #menu-button{
	overflow: visible;
	
	color: #FFF;
	
	background-color: #0a82ad;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(5% 80% 90deg, #6db5cf, #0a82ad);
    /* Safari 4+, Chrome 1+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0a82ad), to(#6db5cf));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#0a82ad, #6db5cf); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #0a82ad, #6db5cf);
    
    margin-bottom: 2px;
	border-bottom: 2px solid #0a82ad;
}
#toolbar > #menu-button:hover{
	overflow: visible;
	
	color: #FFFFF;
	
	background-color: #0a82ad;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(5% 80% 90deg, #143985, #0a82ad);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0a82ad), to(#143985));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#0a82ad, #143985); 
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #0a82ad, #143985);
    
    -webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px
}

#toolbar > #tool-color{
	background: #FFFFFF;
	line-height: 26px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/*
 * bottom toolmenu button
 */
#toolbar > #present-toggle-button{
	background-color: #CCCCCC;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(5% 80% 90deg,  #999999, #CCCCCC);
    /* Safari 4+, Chrome 1+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#999999));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#CCCCCC, #999999); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #CCCCCC, #999999);
    
    margin-top: 2px;
	border-top: 2px solid #0a82ad;
}
/*
 * bottom toolmenu button
 */
#toolbar > #present-toggle-button:hover{
	background-color: #DDDDDD;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(5% 80% 90deg,  #AAAAAA, #DDDDDD);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#AAAAAA));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#DDDDDD, #AAAAAA); 
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #DDDDDD, #AAAAAA);
    
    -webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#menu{
	float: left;
	top: 0;

	width: 90%;
}

#menu > * {
	border: 2px solid #0a82ad;
	margin-left: 1px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	
	background: #FFF;
}

#menu > #menu-left{
	float: left;
	
	width: 380px;
	
	padding: 0;
	padding-right: 1%;
	
	box-sizing:inherit;	
}

#menu > #menu-right{
	float: left;
	width: 20%;
	
	box-sizing:inherit;
	padding: 1%;
	
	overflow: hidden;
}

#menu-left  #open-extended{

}

.hidden{
	display: none;
	overflow: hidden;
}

#menu-left  #open-extended:hover{
	height: auto;
}


#menu-style-css-input{
	width: 98%;
}

/*
 * Zebra styling.
 */
#zebra{
	position: absolute;
	top: 30%;
	left: 50%;
	
	width: 130px; /* 90px for translate+scale and 2*20px for rotate */
	height: 130px;
	
	opacity: 1;
	
	display: none;
}

#zebra-inner{
	position: absolute;
	top: 0;
	left: 0;
}

#zebra #zebra-translate{
	position: absolute;
	
	left: 24%;
	top: 24%;
	
	width: 52%;
	height: 52%;
	-webkit-border-radius:52%;
	-moz-border-radius: 52%;
	border-radius: 52%;
}

#zebra #zebra-scale{
	position: absolute;
	
	top: 0px;
	left: 0px;
	width: 90px;
	height: 90px;
	background: transparent;
	
	background-image: url('../img/zebra-background.svg');
	overflow: visible;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

#zebra #zebra-rotate{
	position: absolute;
	
	top: 0;
	left: 0;
	
	width: 90px;
	height: 90px;
	background: transparent;
	
	border: 20px dotted #AAAAAA;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

#zebra #zebra-expand-button{
	position: absolute;
	right: -16px;
	top: 45px;
	
	width: 16px;
	height: 16px;

	
	text-align: center;
	font-weight: bolder;
	font-size: 16px;

	line-height: 14px;

	border: 1px solid #000;
	background: #666666;

	-moz-border-radius: 12px;
	border-radius: 12px;
	
	cursor: pointer;
}
#zebra #zebra-expand-button:hover{
	background: #888888;
}

/* e.g. to flip the zebra-expand-button when clicked*/
.mirrored{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
#zebra #zebra-expand-button.mirrored{
	background: #888888;
}

#zebra #zebra-toolbar{
	position: absolute;
	font-size: 10px;
	top: 28px;
	left: 112px;
	
	width: 64px;

	border: 2px solid #0a82ad;
	z-index: 6;
	
	background: #FFFFFF;
	opacity: 1;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#zebra #zebra-toolbar .toolbutton{
	width: 32px;
	height: 32px;
	
	line-height: 32px;
}

#zebra #zebra-toolbar .zebra-toolbar-row{
	min-height: 0;
	height: 32px;
}

/*
#zebra #zebra-toolbar .zebra-toolbar-row:first-child{
	border-bottom: 1px solid black;
}

#zebra #zebra-toolbar div.zebra-toolbar-row:last-child{
	border-bottom: 0;
}

#zebra #zebra-toolbar .zebra-toolbar-row .toolbutton{
	border-left: 0px solid black;
	/*border-left: 1px solid black; linuslabo*/
}

#zebra #zebra-toolbar .zebra-toolbar-row .toolbutton:first-child{
	border-left: 0;
} 

#dialog-overlay{
	position: absolute;
	
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	background: rgba(0,0,0,0.6);
	
	z-index: 2;
}

.dialog{
	position: absolute;
	
	background: #FFFFFF;
	border: 2px solid #0a82ad;
	
	padding: 1%;

	top: 25%;
	left: 35%;
	
	width: 30%;
	min-width: 300px;
	
	z-index: 3;
	
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.dialog .dialog-cancel:hover{
	text-decoration: underline;
	cursor: pointer;
}



.loading{
	background-image: url('../img/ui_loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.center{
	display: block;
	text-align: center;
}

.floatright{
	float: right;
}

/*
 * jscolor colorpicker
 */
div.jscolor{
	border: 1px solid black;
}

#textMode-overlay{
	position: absolute;
	z-index: 5;
	line-height: 0;
	overflow: visible;
}

#textMode-overlay .toolbutton{
    height: 20px;
    margin-right: 3px;
    padding: 5px;
    /*background: rgba(109, 181, 207, 0.3);*/
    border: 2px solid #0a82ad;
    /*border-top: 0px;*/
    margin-top: -2px;
    background: white;
	-webkit-border-bottom-right-radius: 14px;
	-webkit-border-bottom-left-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-moz-border-radius-bottomleft: 14px;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
}

#textMode-overlay .toolbutton:hover{
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#textMode-overlay select{
	cursor: pointer;
	position: relative;
	top: -3px;
}

textarea.textMode-input{
	/*background: transparent;*/
	background-color: rgba(255,255,255,0.9); /* 0.9 is opacity */
	border: 2px solid #0a82ad;
	line-height: 1em;
	padding-left: 0;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0;
}

svg .invisible{
	fill: none !important;
	stroke: none !important;
}

#debugrect{
	border: 1px solid red;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

/* linuslabo - slider */

#anteprime{
	position: absolute;
	bottom: 0;
	left: 1%;
	right: 1%;
	z-index:3;
	border: 2px solid #0a82ad;
	height: 150px;
	width: 98%;
	background-color: white;
	color: black;
	overflow: hidden;
	
	-webkit-border-top-right-radius: 14px;
	-webkit-border-top-left-radius: 14px;
	-moz-border-radius-topright: 14px;
	-moz-border-radius-topleft: 14px;
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
}
#loader{
	position: relative;
	height: 100%;
	width: 100%;
}
#x{
	position:absolute;
	top:0;
	right:1%;
	font-weight: bold;
	cursor: pointer;
	z-index:2;
}
#apriAnteprime{
	display: none;
	position: absolute;
	bottom:0;
	left: 10px;
	width: 56px;
	border: 2px solid #0a82ad;
	border-bottom: 0;
	font-weight: bold;
	z-index:6;
	color: #FFF;
	text-align: center;
	
	-webkit-border-top-right-radius: 14px;
	-webkit-border-top-left-radius: 14px;
	-moz-border-radius-topright: 14px;
	-moz-border-radius-topleft: 14px;
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
	
	cursor: pointer;
	
	background-color: #0a82ad;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(5% 80% 90deg, #6db5cf, #0a82ad);
    /* Safari 4+, Chrome 1+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0a82ad), to(#6db5cf));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#0a82ad, #6db5cf); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #0a82ad, #6db5cf);
}
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:3px;
	display:none;
	color:#fff;
	z-index:7;
}

/* linuslabo - carousel */
.infiniteCarousel {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  overflow:hidden;
  margin: 40px 60px;
  margin: 17px 0;
}

.infiniteCarousel .wrapper {
  /*width: 90%;  .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 10em;
  margin: 0 40px;
  position: absolute;
  text-align: center;
}

.infiniteCarousel ul a img {
  border: 2px solid #000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 2px;
  height: 102px;
  width: 150px;
  margin: 0 5px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 20px;
  width: 14px;
  text-indent: -999px;
  position: absolute;
  top: 37px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  background: url(../img/next.png) no-repeat 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  background: url(../img/prev.png) no-repeat 0 0;
  left: 0;
}

#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:3px;
	display:none;
	color:#fff;
}

#tracker{
	position: absolute;
	right:10px;
	top:0;
	text-align: center;	
	
	-ms-transition: 0.8s opacity ease-in-out;
	-o-transition: 0.8s opacity ease-in-out;
	-webkit-transition: 0.8s opacity ease-in-out;
	-moz-transition: 0.8s opacity ease-in-out;
	transition: 0.8s opacity ease-in-out;
	
	opacity: 1;
	
	z-index: 10;
}

#tracker-list-wrapper {
	position: relative;
	right: 0;
	top: 0;
	max-height: 385px;
	width: 361px;
	background: white;
	border-left: 2px solid #0a82ad;
	border-right: 2px solid #0a82ad;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 1;
	z-index: 10;
}

#tracker #tracker-list {
	display:none;
}

#tracker > #tracker-expand {
	width: 361px
	border: 2px solid #0a82ad;
	line-height: 16px;
	font-weight: bold;
	color: #FFF;
	
	-webkit-border-bottom-right-radius: 14px;
	-webkit-border-bottom-left-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-moz-border-radius-bottomleft: 14px;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	
	cursor: pointer;
	
	background-color: #6db5cf;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(5% 80% 90deg, #6db5cf, #0a82ad);
    /* Safari 4+, Chrome 1+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6db5cf), to(#0a82ad));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#6db5cf, #0a82ad); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #6db5cf, #0a82ad);
}

#dizzy .hoveringElem{
	opacity: 1 !important;
	stroke: #0a82ad !important;
	fill-opacity: 0.3 !important;
	stroke-opacity: 1 !important;
	fill: #6db5cf !important;
	/*
	stroke-width: 5;
	stroke-miterlimit:4;
	stroke-dasharray:9.9,29.7;
	stroke-dashoffset:0; 
	stroke-opacity:1 */
}

#resizer{
	opacity: 0.5;
	border-radius: 50%;
	border: 2px solid black;
	margin: black;
	width: 36px;
	height: 36px;
	position: fixed;
	top:50%;
	left:50%;
	z-index: 5;
	background: PowderBlue;
	cursor: pointer;
}

/* NEW ZEBRA*/
#zebra {
	height: 112px;
	width: 112px;
}

#zebra #zebra-translate {
	background: none repeat scroll 0 0 #6db5cf;
	left: 19px;
	top: 19px;
	width: 36px;
	height: 36px;
	opacity: 0.7;
}

#zebra #zebra-scale{
	background: url('../img/zebra-scale.svg') no-repeat scroll 0 0 transparent;
	height: 74px;
	width: 74px;
	top: 19px;
	left: 19px;
}
#zebra #zebra-rotate{
	background: url('../img/zebra-rotate.svg') no-repeat scroll 0 0 transparent;
    border: 0px;
    height: 112px;
    width: 112px;
}

#zebra #zebra-expand-button{
	right: 0;
	top: 50px;
	
	width: 15px;
	height: 15px;
	font-size: 15px;

	line-height: 12px;

	border: 2px solid #0a82ad;
	background: #0a82ad;
	color: #FFFFFF;
}
#zebra #zebra-expand-button:hover{
	background: #FFFFFF;
	color: #0a82ad;
}

#zebra #zebra-expand-button.mirrored{
	background: #FFFFFF;
	color: #0a82ad;
}

#toolbar > .toolbutton.pressed{
	background: rgba(109, 181, 207, 0.3);
	width: 31px;
	height: 31px;
	border: 2px solid #0a82ad;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

#toolbar > .toolbutton.present, #toolbar > .toolbutton.present.pressed {
	background: transparent;
	border:0;
	border-radius: 0;
}

#text-wrapper {
	position: relative;
	top: 0;
	left: 0;
	z-index: 7;
	background: transparent/*rgba(109, 181, 207, 0.1)*/;
	min-width: 304px;
	min-height: 50px;
	height: 65.43600463867188px;
	border: 2px solid #0a82ad;
}

#toolbar > #tool-goto-input:hover {
	background: transparent;
	border: 0;
}
